/*=============================================
GLOBAL
=============================================*/

*{
	margin:0px;
	padding:0px;
	list-style: none;
	text-decoration: none;
	font-family: sans-serif;
	box-sizing: border-box;
}

.content-fluid{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
}

.row{
	position:relative;
	margin:auto;
	width:100%;
	height: auto;
	clear:both;
	display:table;
}

[class*="col-"]{
	float:left;
	padding:0px;
}


/*=============================================
EFECTO DE MOUSE
=============================================*/

#efectoMouse{
	position:relative;
	width:100%;
	overflow:hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#efectoMouse figure{
	position: absolute;
	top:0;
	left:0;
}